body {
        font-family: 'Poppins', serif;
        font-size: 16px;
      }


h1 {
    
 
    margin-top: 10px;
    margin-bottom: 60px;
}


hr {
    
    margin-top: 100px;
    margin-bottom: 20px;
    
}

.footer {
    
    margin-top: 40px;
    margin-bottom: 40px;
    
}

.display-3 {
    
 
    margin-top: 10px;
    margin-bottom: 10px;
}


@media (min-width: 1200px) {
    .container{
        max-width: 1400px;
    }
}


h2, p {
    
 
    margin-top: 20px;
    margin-bottom: 10px;
}


.banner {
    
    margin-top: 60px;
    margin-bottom: 20px;
    
}



.seccion {
    
    margin-top: 80px;
    margin-bottom: 20px;
    
}


.recuadro-externo {
    
    margin: 5px;
    padding: 5px;
    
}

.recuadrointerno-dodgerblue {
    
    margin-bottom: 45px;
    margin-left: 20px;
    padding: 40px;
    background-color: dodgerblue;
    border-style: solid;
    border-color: #d1d1d1;
    border-width: 1px;
    border-radius: 4px; 
    color: white;
}



.recuadrointerno-gray {
    
    margin-bottom: 45px;
    margin-left: 20px;
    padding: 40px;
    background-color: white;
    border-style: solid;
    border-color: #d1d1d1;
    border-width: 1px;
    border-radius: 4px;
}


.separador {
    width:100%;
    height:60px;
    background-color:#efefef;
}



/* JUMBOTRON --- */


.jumbotron {
    margin-bottom: 0px;
    background-image: url(../images/banner/bebe-doctor-rojo3.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}


.jumbotron-text {
    
    color: white;
    text-shadow: black 0.2em 0.2em 0.2em;
    
}




.fa {
    font-size: 40px;
}



.sm-icon {
    
    margin-right: 20px;
    margin-bottom: 20px;
}


.navbar {
  background-color: #ffffff;
}
.navbar .navbar-brand {
  color: #434343;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #4f4f4f;
}
.navbar .navbar-text {
  color: #434343;
}
.navbar .navbar-nav .nav-link {
  color: #434343;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #4f4f4f;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #4f4f4f;
  background-color: #f9773d;
}
.navbar .navbar-toggle {
  border-color: #f9773d;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #f9773d;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #434343;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #434343;
}
.navbar .navbar-link {
  color: #434343;
}
.navbar .navbar-link:hover {
  color: #4f4f4f;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #434343;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #4f4f4f;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #4f4f4f;
    background-color: #f9773d;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #434343;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #4f4f4f;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #4f4f4f;
    background-color: #f9773d;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #434343;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #4f4f4f;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #4f4f4f;
    background-color: #f9773d;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #434343;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #4f4f4f;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #4f4f4f;
    background-color: #f9773d;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #434343;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #4f4f4f;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #4f4f4f;
  background-color: #f9773d;
}



.navbar-toggler {
    
    border-style: solid;
    border-color: darkgrey;
    border-width: 1px;
    border-radius: 6px;
}

.navbar-toggler-icon {
    
    background-color: gainsboro;
    border-style: solid;
    border-color: gainsboro;
    border-width: 1px;
    border-radius: 6px;
    
}


.navbar-nav {
    
    margin-left: 100px;
    
}


.nav-item {
    
    margin-right: 20px;
    
}





.tecnologia-item {
    
    margin: 2px;
    padding: 2px;
    background-color: #f4f4f4;
    border-style: solid;
    border-color: #d1d1d1;
    border-width: 1px;
    border-radius: 2px;
    width: 100px;
    height: 100px;
    
}




div.tecnologia-item img {
    
    padding: 5px;
    margin-left: 6px;
    width: 40px;
    height: 40px;
}



div.tecnologia-item span {
    
    margin-left: 10px;
    font-size: 22px;
    color: dimgrey;
}



img.icono {
    
    width: 40px;
    height: 40px;
    margin-left: 20px;
    margin-top: 0px;
}


img.moveimgup.engranajes {
    position: relative;
    bottom: 8px;
}



img.moveimgup.foco {
    position: relative;
    bottom: 10px;
}


#docker {
    
    width: 45px;
    height: 40px;
    
}
